<% layout("/layouts/boilerplate2") -%>
<div class=" row mt-4">
<h1>Welcome  <%= currUser.username %> </h1>
<br><br>

    <div class="col-8 offset-2 mb-3">
        
        <img src="https://displeye.com/main/wp-content/uploads/2020/10/vc.svg" class="img-fluid " alt="image">
        <br><br>

       <b><a href="/manage">Manage your listings</a></b> 
       &nbsp;&nbsp;
       <b><a href="/admin">Manage reservation</a></b>
       &nbsp;&nbsp;
       <b><a href="/help">Visit the Help Centre</a></b>
    </div>
    <div class="col-4"></div>



</div>