<% layout("/layouts/boilerplate") -%>
<h5><b>Help Center</b></h5>
<h1>How can we Help?</h1>
<div class="row-5 col-15 mt-4 mb-4">
       <h3>About Airbnb for Work</h3> 
       <p>Arranging accommodation for business trips is a cinch with Airbnb for Work, which puts a worldwide selection of homes and boutique hotels along with a suite of helpful tools right at your fingertips.</p>

     <h2>What you get</h2>
     <ul>
        <li>A free Airbnb for Work admin dashboard – making it easier to book, manage, and accurately report on company trips</li>
        <li> Price alerts and payment groups to help manage company travel spending</li>
        <li> Access to Airbnb for Work experts</li>
        <li>Exclusive offers</li>
     </ul>

    <h3>How to enrol</h3>
    <p>
        If you’re in charge of booking travel, learn how to sign up your company. If your organisation already has an Airbnb for Work account, find out how to join it.
        Did this article help?
    </p>

